In [47]:
import sys
import numpy as np
import pandas as pd
from PIL import Image

In [34]:
countries_data = {
    'United Kingdom': 67886011,
    'Iceland': 341243,
    'Finland': 5540720,
    'Italy': 60461826,
    'Norway': 5421241,
    'Bahrain': 1701575,
    'Spain': 46754778,
    'Portugal': 10196709,
    'Switzerland': 8654622,
    'Austria': 9006398,
    'Cyprus': 1207359,
    'Belgium': 11589623,
    'Unspecified': 0,
    'Denmark': 5792202,
    'Australia': 25499884,
    'France': 65273511,
    'Germany': 83783942,
    'RSA': 59308690,
    'Greece': 10423054,
    'Sweden': 10099265,
    'Israel': 8655535,
    'USA': 331002651,
    'Saudi Arabia': 34813871,
    'Poland': 37846611,
    'United Arab Emirates': 9890402,
    'Singapore': 5850342,
    'Japan': 126476461,
    'Netherlands': 17134872,
    'Lebanon': 6825445,
    'Brazil': 212559417,
    'Czech Republic': 10708981,
    'EIRE': 4937786,
    'Channel Islands': 173863,
    'European Community': 0,
    'Lithuania': 2722289,
    'Canada': 37742154,
    'Malta': 441543
}

In [80]:
len(countries_data.values())

37

In [63]:
country_ds = pd.DataFrame()
country_ds['country'] = list(countries_data.keys())
country_ds['population'] = list(countries_data.values())
country_ds_filtered = country_ds.sort_values(by=['population'], ascending=False)[:6]
country_ds_filtered

           country  population
21             USA   331002651
29          Brazil   212559417
26           Japan   126476461
16         Germany    83783942
0   United Kingdom    67886011
15          France    65273511

In [81]:
count = 0
width = 0
height = 0
row_break = 3
block_width = 1098
block_height = 367
#filePrefix = "product_amount_"
#path = "C:/Users/Gabriel Ullmann/Documents/TCC/analyse_results/product_amount_by_categ/"
filePrefix = "rating_amount_"
path = r"C:\Users\Gabriel Ullmann\Documents\TCC\analyse_results\rating_amount_by_categ\/"
calc_height = block_height * (len(country_ds_filtered['country'].values)/row_break)
new_im = Image.new('RGB', (block_width, int(calc_height)))

for elem in country_ds_filtered['country'].values:
  im = Image.open(path + filePrefix + elem + ".png")
  new_im.paste(im, (width, height))
  width += im.size[0]
  if count == row_break - 1:
    count = 0
    width = 0
    height += block_height
  else:
    count += 1
    
new_im.save('temp_img/' + filePrefix + '1.png')

In [66]:
366 * 3

1098