In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder

## Get best sellers and encode

In [2]:
r_cbr = pd.read_csv(r"C:\Users\Gabriel Ullmann\Desktop\all_tcc_results\online_retail1\gen-cf\g_cbr.csv", sep=",")
r_cbr[:3]

   client_id  product_id  rating
0          0        4059       1
1          0        3515       2
2          0         944       1

In [3]:
org = pd.read_csv(r"C:\laragon\www\tcc-gabriel\data\uci-online-retail-source\online_retail.csv", sep=",")
org[:3]

,orderId,product_id,desc,avgQty,month,price,clientId,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,"2,55",17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,"3,39",17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,"2,75",17850.0,United Kingdom

In [4]:
temp_count = org['product_id'].value_counts()
temp_count[:5]

85123A    2312
22423     2203
85099B    2159
47566     1727
20725     1639
Name: product_id, dtype: int64

In [5]:
prod_col = []
amount_col = []
temp_count.values

array([2312, 2203, 2159, ...,    1,    1,    1], dtype=int64)

In [6]:
prod_count = pd.DataFrame(index=range(0, len(temp_count)))
prod_count['product_id'] = temp_count.index
prod_count['amount'] = temp_count.values

In [7]:
prod_count[:3]

  product_id  amount
0     85123A    2312
1      22423    2203
2     85099B    2159

In [8]:
encoder = OrdinalEncoder()
encoded_products = encoder.fit_transform(
    prod_count['product_id'].values.reshape(-1, 1))
prod_count['product_id'] = encoded_products
prod_count['product_id'] = prod_count['product_id'].astype('int32');

In [9]:
prod_count[:3]

   product_id  amount
0        3536    2312
1        1348    2203
2        3515    2159

In [10]:
prod_count.to_csv(r'C:\Users\Gabriel Ullmann\Desktop\or1.csv')

## Union

In [11]:
bss = pd.read_csv(r"C:\Users\Gabriel Ullmann\Desktop\all_tcc_results\online_retail1\best-seller\or1.csv", sep=",")
bss[:3]

   id  product_id  amount
0   0        3536    2312
1   1        1348    2203
2   2        3515    2159

In [12]:
bss_values = bss[['product_id', 'amount']].values
bss_dict = {}
for bs in bss_values:
    bss_dict[bs[0]] = bs[1]
bss_dict

{3536: 2312,
 1348: 2203,
 3515: 2159,
 2733: 1727,
 180: 1639,
 3305: 1502,
 1631: 1477,
 1147: 1476,
 454: 1385,
 182: 1350,
 1314: 1348,
 1381: 1280,
 2096: 1267,
 4062: 1256,
 1317: 1251,
 1391: 1239,
 1862: 1229,
 944: 1214,
 1043: 1210,
 1336: 1202,
 183: 1197,
 1313: 1192,
 1863: 1182,
 1577: 1180,
 2179: 1179,
 1610: 1138,
 1315: 1137,
 2102: 1135,
 2952: 1129,
 1895: 1111,
 1637: 1107,
 1608: 1085,
 2099: 1084,
 1128: 1072,
 179: 1068,
 1982: 1067,
 181: 1061,
 1636: 1026,
 366: 1015,
 2092: 1009,
 1094: 993,
 1034: 986,
 1093: 974,
 339: 967,
 1392: 963,
 3516: 960,
 3346: 946,
 837: 944,
 2956: 943,
 2182: 937,
 282: 937,
 2094: 930,
 1543: 924,
 2138: 919,
 1290: 912,
 468: 904,
 2095: 896,
 966: 896,
 1069: 889,
 942: 885,
 429: 882,
 1544: 881,
 172: 878,
 801: 874,
 1633: 872,
 3394: 871,
 177: 858,
 1813: 850,
 3517: 842,
 1609: 830,
 427: 826,
 941: 823,
 2236: 813,
 1047: 812,
 1638: 810,
 816: 806,
 1068: 798,
 1474: 792,
 2181: 780,
 2100: 780,
 1291: 777,
 802: 773,
 3384: 767,
 1263: 764,
 1310: 760,
 1570: 750,
 2165: 746,
 421: 746,
 178: 742,
 1538: 741,
 2225: 739,
 1389: 731,
 1470: 729,
 943: 720,
 4059: 710,
 1810: 709,
 155: 707,
 3040: 707,
 1573: 706,
 1316: 702,
 3039: 700,
 2954: 698,
 1468: 697,
 1868: 693,
 2101: 692,
 1769: 689,
 3571: 688,
 173: 684,
 2924: 683,
 1742: 679,
 455: 678,
 932: 677,
 1071: 660,
 2188: 659,
 2202: 657,
 817: 656,
 1871: 655,
 643: 655,
 1855: 653,
 2966: 651,
 3395: 650,
 2963: 641,
 964: 641,
 1812: 640,
 3219: 640,
 2955: 637,
 303: 633,
 2765: 627,
 1535: 625,
 1040: 619,
 838: 617,
 931: 615,
 1265: 611,
 2093: 609,
 2770: 608,
 908: 607,
 3190: 603,
 2953: 603,
 2773: 599,
 681: 598,
 1070: 595,
 1640: 594,
 2097: 594,
 2203: 594,
 1469: 593,
 1472: 591,
 1770: 590,
 1473: 589,
 176: 586,
 877: 585,
 519: 585,
 1539: 578,
 1686: 578,
 1771: 576,
 1302: 573,
 1103: 572,
 4060: 571,
 2174: 567,
 2133: 567,
 1804: 564,
 1098: 563,
 1167: 561,
 1493: 558,
 1900: 557,
 2968: 556,
 3496: 555,
 3267: 552,
 426: 550,
 949: 546,
 3374: 546,
 467: 543,
 2997: 542,
 3128: 541,
 302: 538,
 1494: 536,
 1139: 536,
 1342: 535,
 171: 534,
 1471: 534,
 3038: 533,
 1676: 533,
 948: 532,
 374: 532,
 989: 531,
 1530: 531,
 1352: 529,
 14: 524,
 640: 519,
 1547: 516,
 3390: 515,
 641: 513,
 1380: 511,
 1124: 509,
 2136: 509,
 1101: 507,
 663: 506,
 410: 506,
 2091: 503,
 2237: 502,
 2224: 501,
 1578: 500,
 1287: 498,
 1534: 498,
 1711: 496,
 711: 495,
 607: 494,
 2148: 492,
 1484: 490,
 664: 489,
 1146: 489,
 3570: 486,
 1531: 484,
 1422: 484,
 425: 484,
 1104: 483,
 1312: 482,
 3402: 481,
 2098: 480,
 1565: 479,
 1510: 478,
 926: 478,
 2605: 477,
 3033: 475,
 1421: 474,
 2985: 474,
 1639: 474,
 1349: 473,
 1095: 473,
 1143: 472,
 423: 470,
 1659: 469,
 21: 467,
 1426: 464,
 452: 463,
 409: 463,
 3373: 460,
 2176: 460,
 420: 460,
 148: 459,
 1681: 458,
 1854: 458,
 750: 458,
 2064: 458,
 945: 457,
 1041: 457,
 1533: 455,
 979: 454,
 1574: 454,
 1635: 453,
 910: 452,
 3130: 452,
 2984: 452,
 2802: 452,
 2076: 452,
 1603: 452,
 1658: 451,
 751: 451,
 1410: 450,
 1477: 449,
 457: 449,
 1885: 447,
 1644: 447,
 1408: 447,
 2752: 446,
 2965: 446,
 1669: 444,
 1890: 443,
 1141: 441,
 369: 439,
 2067: 438,
 1655: 436,
 2190: 435,
 972: 434,
 980: 433,
 2362: 433,
 1750: 429,
 1039: 429,
 1660: 428,
 680: 427,
 1409: 427,
 754: 426,
 2200: 425,
 2311: 425,
 946: 425,
 1572: 425,
 911: 424,
 642: 423,
 3476: 423,
 1898: 422,
 1338: 422,
 1501: 420,
 175: 420,
 1605: 419,
 1161: 418,
 2209: 418,
 2768: 416,
 2194: 415,
 1546: 415,
 947: 413,
 1303: 413,
 1419: 412,
 1545: 411,
 2964: 411,
 459: 409,
 1753: 409,
 965: 408,
 1123: 406,
 1560: 406,
 340: 403,
 1486: 403,
 1354: 403,
 2748: 402,
 929: 401,
 469: 400,
 1881: 395,
 190: 394,
 2747: 394,
 2189: 394,
 1096: 393,
 2002: 393,
 825: 392,
 391: 392,
 1476: 391,
 2199: 391,
 1866: 391,
 191: 391,
 1121: 390,
 752: 390,
 1412: 390,
 1662: 389,
 1235: 389,
 1811: 389,
 2177: 389,
 907: 389,
 753: 388,
 2065: 388,
 1998: 386,
 755: 386,
 1741: 386,
 404: 385,
 403: 383,
 1891: 383,
 1541: 382,
 1145: 382,
 2147: 382,
 918: 380,
 2734: 379,
 2134: 379,
 935: 378,
 306: 378,
 3400: 377,
 977: 376,
 1702: 376,
 304: 375,
 893: 374,
 925: 373,
 1142: 373,
 3345: 372,
 969: 372,
 1802: 372,
 2769: 372,
 1576: 372,
 3347: 371,
 2960: 371,
 1386: 371,
 671: 370,
 899: 370,
 305: 370,
 1001: 369,
 411: 369,
 2175: 369,
 987: 369,
 933: 367,
 963: 367,
 1894: 367,
 1522: 366,
 1864: 366,
 1283: 364,
 2232: 364,
 1466: 363,
 1113: 363,
 1756: 363,
 1559: 363,
 1699: 362,
 669: 361,
 2062: 361,
 1485: 359,
 2086: 359,
 997: 359,
 392: 358,
 1551: 358,
 2959: 357,
 2129: 356,
 2803: 356,
 2794: 355,
 3410: 355,
 1495: 355,
 526: 355,
 2446: 355,
 2063: 353,
 528: 353,
 458: 352,
 1579: 351,
 2192: 351,
 2230: 350,
 1975: 348,
 2372: 347,
 1044: 346,
 2201: 346,
 2986: 346,
 3095: 346,
 1105: 345,
 2069: 345,
 1567: 345,
 2160: 345,
 309: 345,
 898: 345,
 1212: 344,
 3486: 344,
 1356: 343,
 2151: 343,
 2068: 342,
 976: 342,
 2082: 342,
 149: 340,
 650: 339,
 1843: 339,
 2448: 339,
 3401: 339,
 3389: 339,
 1694: 338,
 2234: 337,
 1656: 335,
 2235: 335,
 1036: 334,
 1269: 334,
 471: 334,
 1234: 333,
 1844: 333,
 3472: 332,
 1125: 331,
 571: 331,
 151: 330,
 3348: 329,
 1872: 328,
 1751: 327,
 147: 327,
 1343: 327,
 1649: 327,
 655: 327,
 20: 326,
 1112: 324,
 891: 322,
 1865: 322,
 647: 322,
 1425: 322,
 919: 320,
 1623: 320,
 1803: 320,
 2139: 320,
 2150: 319,
 365: 319,
 2992: 318,
 2149: 318,
 1232: 317,
 2231: 316,
 2145: 315,
 2066: 315,
 1980: 313,
 470: 313,
 2089: 312,
 472: 311,
 300: 311,
 1210: 311,
 2962: 310,
 194: 310,
 2204: 309,
 338: 308,
 1604: 307,
 1066: 307,
 1520: 307,
 606: 306,
 1264: 306,
 1581: 306,
 1634: 305,
 2059: 304,
 2020: 304,
 896: 304,
 1427: 304,
 777: 304,
 1086: 303,
 2834: 303,
 1882: 303,
 1173: 303,
 967: 303,
 2213: 302,
 536: 301,
 1632: 300,
 1129: 299,
 75: 298,
 1311: 297,
 1752: 296,
 484: 296,
 1309: 296,
 3044: 296,
 1800: 295,
 2085: 295,
 1661: 295,
 2729: 295,
 567: 294,
 317: 294,
 2961: 294,
 2438: 293,
 1601: 293,
 1157: 293,
 2131: 293,
 1479: 292,
 1799: 292,
 2771: 291,
 529: 291,
 1067: 290,
 2244: 290,
 1724: 290,
 917: 290,
 1746: 289,
 1627: 289,
 313: 287,
 1893: 287,
 1678: 287,
 419: 287,
 1357: 287,
 2127: 286,
 818: 285,
 1705: 285,
 3471: 285,
 2187: 285,
 1902: 285,
 2004: 285,
 1648: 283,
 1517: 283,
 1558: 283,
 1344: 282,
 1974: 280,
 3409: 280,
 1296: 279,
 1807: 279,
 1952: 279,
 1873: 279,
 2038: 278,
 2003: 278,
 990: 278,
 2071: 278,
 2012: 278,
 3478: 277,
 968: 277,
 428: 277,
 1360: 276,
 1046: 276,
 1213: 276,
 1110: 276,
 3621: 275,
 377: 275,
 1511: 274,
 658: 274,
 3266: 274,
 1897: 273,
 1240: 273,
 1536: 272,
 2041: 272,
 851: 271,
 1723: 271,
 1978: 271,
 1726: 270,
 1238: 270,
 308: 270,
 381: 270,
 1122: 270,
 482: 270,
 1664: 270,
 2078: 270,
 605: 269,
 1722: 269,
 1647: 269,
 2447: 269,
 2439: 268,
 1995: 267,
 988: 267,
 2995: 267,
 1452: 267,
 1021: 266,
 312: 266,
 1487: 266,
 344: 266,
 301: 266,
 1022: 265,
 656: 265,
 1809: 265,
 668: 264,
 2042: 264,
 2403: 264,
 1682: 264,
 3399: 263,
 2210: 262,
 1293: 262,
 2993: 262,
 950: 262,
 852: 261,
 2006: 261,
 2122: 261,
 674: 261,
 1233: 261,
 388: 260,
 2052: 260,
 2124: 260,
 2060: 260,
 2090: 259,
 1976: 259,
 1325: 258,
 1703: 258,
 1685: 257,
 527: 256,
 1566: 256,
 2040: 256,
 1665: 256,
 311: 256,
 1913: 256,
 1981: 253,
 1414: 253,
 1496: 253,
 834: 252,
 2048: 252,
 778: 252,
 1907: 251,
 3131: 251,
 2598: 251,
 1880: 251,
 1548: 250,
 53: 250,
 2214: 250,
 661: 250,
 239: 250,
 1823: 250,
 1725: 249,
 1820: 249,
 394: 249,
 153: 248,
 1822: 248,
 3226: 248,
 3077: 247,
 1821: 247,
 2756: 247,
 1181: 247,
 590: 247,
 789: 247,
 2061: 247,
 1819: 246,
 2191: 246,
 1691: 246,
 2125: 246,
 2261: 245,
 83: 245,
 1045: 245,
 909: 244,
 2775: 244,
 1867: 244,
 1537: 243,
 1266: 243,
 744: 242,
 902: 242,
 2265: 242,
 2245: 241,
 2183: 241,
 1295: 241,
 1760: 241,
 1874: 241,
 2271: 240,
 1448: 239,
 960: 239,
 2123: 239,
 2070: 239,
 1483: 238,
 2762: 238,
 1651: 237,
 3640: 237,
 1708: 237,
 833: 237,
 1987: 236,
 1721: 236,
 2164: 236,
 2521: 236,
 1677: 235,
 1899: 235,
 1580: 235,
 1271: 235,
 2053: 234,
 1014: 234,
 787: 233,
 1657: 233,
 296: 233,
 3067: 233,
 788: 232,
 1901: 232,
 791: 232,
 568: 232,
 649: 232,
 1358: 232,
 295: 232,
 1305: 232,
 2211: 232,
 1646: 232,
 900: 231,
 3474: 231,
 1362: 231,
 2881: 231,
 698: 231,
 1906: 231,
 812: 231,
 1072: 230,
 2173: 230,
 934: 230,
 1562: 230,
 318: 229,
 2088: 229,
 1366: 228,
 713: 228,
 1413: 228,
 1914: 228,
 1528: 228,
 1896: 227,
 1033: 227,
 518: 226,
 192: 226,
 1490: 226,
 1625: 226,
 1301: 226,
 2267: 226,
 2135: 226,
 2167: 225,
 1846: 225,
 2259: 224,
 1747: 224,
 1624: 224,
 373: 224,
 1583: 224,
 1860: 223,
 1489: 223,
 1411: 223,
 1989: 223,
 2350: 223,
 2269: 223,
 142: 222,
 574: 222,
 1170: 222,
 1467: 222,
 2725: 221,
 2404: 221,
 2373: 221,
 2193: 220,
 651: 220,
 1663: 220,
 1384: 219,
 1996: 219,
 2363: 219,
 1932: 219,
 811: 219,
 971: 219,
 1720: 218,
 1796: 218,
 1525: 218,
 920: 218,
 1801: 218,
 2108: 217,
 1351: 217,
 984: 217,
 682: 217,
 2171: 217,
 1346: 217,
 1478: 217,
 1239: 217,
 3556: 217,
 2233: 216,
 1824: 216,
 1876: 216,
 1465: 216,
 1915: 216,
 657: 215,
 1388: 215,
 1884: 215,
 1745: 214,
 3372: 214,
 2050: 214,
 1051: 214,
 1156: 213,
 1587: 213,
 1550: 213,
 1716: 213,
 978: 213,
 652: 213,
 1355: 212,
 473: 212,
 1005: 212,
 1406: 212,
 1653: 211,
 2298: 211,
 2057: 211,
 936: 211,
 2103: 211,
 1540: 210,
 959: 210,
 2764: 210,
 1700: 210,
 1707: 210,
 1347: 209,
 1308: 209,
 185: 209,
 1387: 209,
 2268: 209,
 146: 209,
 1859: 209,
 1516: 208,
 1364: 207,
 240: 206,
 2763: 206,
 1829: 206,
 1950: 206,
 2624: 206,
 3553: 206,
 872: 206,
 2626: 206,
 1032: 206,
 1904: 205,
 1237: 205,
 2084: 205,
 2168: 204,
 1549: 204,
 776: 204,
 1449: 203,
 1035: 203,
 2437: 203,
 1870: 203,
 327: 203,
 2366: 203,
 1160: 203,
 1508: 203,
 1542: 203,
 844: 202,
 361: 202,
 1031: 202,
 474: 202,
 2306: 202,
 1500: 201,
 1643: 201,
 8: 200,
 617: 200,
 1712: 200,
 2172: 200,
 1515: 200,
 2021: 200,
 2243: 199,
 1719: 199,
 1714: 199,
 1935: 198,
 1509: 198,
 2105: 198,
 1137: 197,
 3605: 197,
 889: 197,
 1588: 196,
 1683: 196,
 2170: 196,
 2681: 196,
 2766: 195,
 975: 195,
 2132: 195,
 1743: 195,
 1159: 195,
 307: 194,
 1102: 194,
 1480: 193,
 2166: 193,
 1585: 193,
 1077: 193,
 1512: 193,
 1833: 193,
 2248: 192,
 1828: 192,
 1292: 192,
 1016: 192,
 1841: 192,
 2827: 192,
 1138: 191,
 973: 191,
 2169: 191,
 1795: 190,
 1642: 190,
 1818: 190,
 1853: 190,
 2227: 189,
 3265: 189,
 402: 189,
 1877: 189,
 1274: 189,
 2229: 188,
 3479: 188,
 827: 188,
 1909: 188,
 2255: 188,
 1949: 188,
 2130: 188,
 1064: 188,
 887: 188,
 2087: 187,
 1488: 187,
 2024: 186,
 1299: 186,
 1055: 186,
 1217: 186,
 1701: 186,
 870: 185,
 1497: 185,
 1267: 185,
 483: 185,
 368: 185,
 1848: 184,
 2276: 184,
 843: 184,
 1744: 184,
 921: 184,
 1300: 184,
 314: 183,
 1794: 183,
 364: 183,
 2776: 182,
 1504: 182,
 1029: 181,
 1668: 181,
 3096: 181,
 2226: 181,
 859: 181,
 924: 180,
 2627: 180,
 413: 180,
 1090: 180,
 10: 180,
 1461: 180,
 1492: 180,
 1158: 179,
 1892: 179,
 3464: 179,
 1908: 179,
 1518: 179,
 1654: 178,
 974: 178,
 3491: 178,
 1615: 177,
 687: 177,
 1748: 177,
 675: 176,
 570: 176,
 3378: 176,
 2056: 176,
 710: 175,
 2721: 175,
 1455: 175,
 1252: 175,
 2242: 175,
 1126: 175,
 3133: 174,
 3445: 174,
 2616: 174,
 1405: 174,
 2051: 174,
 715: 174,
 3594: 173,
 1717: 173,
 3461: 173,
 665: 173,
 1306: 173,
 2023: 173,
 1650: 173,
 1048: 173,
 873: 172,
 3551: 172,
 1586: 172,
 1108: 172,
 1629: 172,
 2039: 172,
 1184: 171,
 2262: 171,
 892: 171,
 2866: 170,
 1589: 170,
 1361: 170,
 1149: 170,
 73: 170,
 670: 170,
 1350: 170,
 1130: 170,
 1564: 170,
 485: 170,
 ...}

In [13]:
npd = pd.DataFrame(new_allval, columns=['client_id', 'product_id', 'rating', 'amount'])
npd

NameError: name 'new_allval' is not defined

In [ ]:
npd.to_csv(r'C:\Users\Gabriel Ullmann\Desktop\gcbr_ratings_amounts.csv')

In [16]:
for row in r_cbr.values:
    print(bss_dict[row[1]])
    break

710