In [1]:
import pandas as pd
import numpy as np

In [3]:
url = r'C:\Users\ullma\Documents\Google_Drive\Desktop\Faculdade\2020-1\PTCC\data\olist-processed\new2.csv'
original_items = pd.read_csv(url, sep=',')
items_filtered_cols = original_items[['encoded_id', 'order_approved_at_month', 'product_id']]
items_filtered_cols

       encoded_id  order_approved_at_month                        product_id
0               1                        5  a9516a079e37a9c9c36b9b78b10169e8
1               2                        1  4aa6014eceb682077f9dc4bffebc05b0
2               3                        5  bd07b66896d6f1494f5b86251848ced7
3               4                        3  a5647c44af977b148e0a3a4751a09e2e
4               5                        7  9391a573abe00141c56e38d84d7d5b3b
...           ...                      ...                               ...
98661       98662                        4  ccb4503d9d43d245d3b295d0544f988b
98662       98663                        4  9ede6b0570a75a4b9de4f383329f99ee
98663       98664                        4  7a5d2e1e131a860ae7d18f6fffa9d689
98664       98665                       11  f819f0c84a64f02d3a5606ca95edd272
98665       98666                       12  017692475c1c954ff597feda05131d73

[98666 rows x 3 columns]

In [23]:
unique_products = np.unique(items_filtered_cols[['product_id']].values)
len(unique_products)

31881

In [24]:
items_filtered_cols['product_id'] = items_filtered_cols['product_id'].astype('category')

C:\Program_Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
items_filtered_cols['product_id'].dtypes

CategoricalDtype(categories=['00066f42aeeb9f3007548bb9d3f33c38',
                  '00088930e925c41fd95ebfe695fd2655',
                  '0009406fd7479715e4bef61dd91f2462',
                  '000b8f95fcb9e0096488278317764d19',
                  '000d9be29b5207b54e86aa1b1ac54872',
                  '00126f27c813603687e6ce486d909d01',
                  '001795ec6f1b187d37335e1c4704762e',
                  '001b237c0e9bb435f2e54071129237e9',
                  '001b72dfd63e9833e8c02742adf472e3',
                  '001c5d71ac6ad696d22315953758fa04',
                  ...
                  'ffef256879dbadcab7e77950f4f4a195',
                  'fff0a542c3c62682f23305214eaeaa24',
                  'fff1059cd247279f3726b7696c66e44e',
                  'fff28f91211774864a1000f918ed00cc',
                  'fff515ea94dbf35d54d256b3e39f0fea',
                  'fff6177642830a9a94a0f2cba5e476d1',
                  'fff81cc3158d2725c0655ab9ba0f712c',
                  'fff9553ac224cec9d15d49f5a263411f',
                  'fffdb2d0ec8d6a61f0a0a0db3f25b441',
                  'fffe9eeff12fcbd74a2f2b007dde0c58'],
                 ordered=False)

In [26]:
items_filtered_cols['product_id'] = items_filtered_cols['product_id'].cat.codes
count = pd.value_counts(items_filtered_cols['product_id'].values)
count_matrix = count.reset_index().values.tolist()
count_matrix[:100]

C:\Program_Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

[[19099, 439],
 [21392, 429],
 [8346, 340],
 [26156, 318],
 [10514, 302],
 [7139, 291],
 [6862, 277],
 [10487, 272],
 [2701, 267],
 [5522, 257],
 [7806, 254],
 [15572, 222],
 [11360, 193],
 [28021, 190],
 [23296, 187],
 [20617, 172],
 [8414, 158],
 [20972, 156],
 [3304, 155],
 [30139, 150],
 [13614, 150],
 [8837, 144],
 [8048, 143],
 [15322, 141],
 [8512, 140],
 [28553, 140],
 [6764, 139],
 [24471, 139],
 [25955, 137],
 [4148, 132],
 [1326, 130],
 [17475, 129],
 [28018, 126],
 [860, 125],
 [26242, 122],
 [9567, 120],
 [24728, 119],
 [12038, 118],
 [13903, 116],
 [12674, 115],
 [17102, 114],
 [10668, 114],
 [10398, 112],
 [29413, 110],
 [2862, 109],
 [15671, 104],
 [16625, 103],
 [10047, 103],
 [1277, 101],
 [11217, 99],
 [15175, 97],
 [5275, 97],
 [1032, 96],
 [21933, 93],
 [12183, 93],
 [16975, 92],
 [13532, 92],
 [29675, 89],
 [14792, 89],
 [14982, 88],
 [1464, 88],
 [17456, 86],
 [29643, 85],
 [8978, 84],
 [25260, 84],
 [25975, 83],
 [6913, 83],
 [25572, 83],
 [15980, 82],
 [20483, 81],
 [22571, 81],
 [24646, 80],
 [31298, 79],
 [8489, 78],
 [8408, 77],
 [10038, 77],
 [22480, 76],
 [28433, 76],
 [4300, 75],
 [7975, 74],
 [25133, 74],
 [12335, 74],
 [23717, 74],
 [10560, 73],
 [3159, 73],
 [6824, 72],
 [12618, 70],
 [6477, 70],
 [5383, 69],
 [18369, 66],
 [2821, 66],
 [11343, 66],
 [5282, 65],
 [18761, 65],
 [27251, 64],
 [15803, 64],
 [28842, 64],
 [21202, 63],
 [4720, 63],
 [30846, 63]]

In [27]:
items_filtered_cols

       encoded_id  order_approved_at_month  product_id
0               1                        5       20995
1               2                        1        9410
2               3                        5       23482
3               4                        3       20526
4               5                        7       18349
...           ...                      ...         ...
98661       98662                        4       25498
98662       98663                        4       19790
98663       98664                        4       15353
98664       98665                       11       30899
98665       98666                       12         189

[98666 rows x 3 columns]

In [28]:
products_to_fetch = np.array([])
limit_x_products = 10
current_product = 0
for row in count_matrix:
    products_to_fetch = np.append(products_to_fetch, int(row[0]))
    current_product += 1
    if (current_product >= limit_x_products):
        break
products_to_fetch

array([19099., 21392.,  8346., 26156., 10514.,  7139.,  6862., 10487.,
        2701.,  5522.])

In [29]:
fetched_products = items_filtered_cols[(items_filtered_cols.product_id.isin(products_to_fetch))]
fetched_products.shape

(3192, 3)

In [30]:
items_filtered_cols = fetched_products
dum_df = pd.get_dummies(items_filtered_cols, columns=["product_id"], prefix=["product"] )
dum_df

,encoded_id,order_approved_at_month,product_2701,product_5522,product_6862,product_7139,product_8346,product_10487,product_10514,product_19099,product_21392,product_26156
18,19,5,0,0,0,0,0,0,0,1,0,0
21,22,10,0,0,1,0,0,0,0,0,0,0
30,31,9,0,0,0,0,1,0,0,0,0,0
31,32,11,0,0,0,1,0,0,0,0,0,0
105,106,5,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
98527,98528,1,0,0,0,0,0,0,0,0,0,1
98543,49626,6,1,0,0,0,0,0,0,0,0,0
98580,98581,3,0,0,0,1,0,0,0,0,0,0
98599,98600,11,0,0,0,1,0,0,0,0,0,0
98655,98656,5,0,0,0,0,0,0,0,1,0,0

In [31]:
dum_df.to_csv(r'C:\Users\ullma\Documents\Google_Drive\Desktop\Faculdade\2020-1\PTCC\data\olist-3192-onehot.csv')

In [25]:
items_filtered_cols.to_csv(r'C:\Users\ullma\Documents\Google_Drive\Desktop\Faculdade\2020-1\PTCC\data\olist-1000-ordinal.csv')

In [19]:
dum_df.to_csv(r'C:\Users\ullma\Desktop\olist-10-onehot.csv')