## Convertendo dataset para formato desejado para o TCC
https://archive.ics.uci.edu/ml/datasets/Online+Retail#

In [39]:
import re
import math
import pandas as pd
import numpy as np

### Carregar CSV como pandas dataframe, remover colunas desnecessárias e reordená-las

In [40]:
url = 'E:/temp_ml_data/online_retail.csv'
pd_orders = pd.read_csv(url, delimiter=',')
del pd_orders['desc']
del pd_orders['price']
del pd_orders['country']
del pd_orders['orderId']
pd_orders = pd_orders[['clientId', 'modeProd', 'avgQty', 'month']]
pd_orders[:3]

   clientId modeProd  avgQty         month
0   17850.0   85123A       6  12/1/10 8:26
1   17850.0    71053       6  12/1/10 8:26
2   17850.0   84406B       8  12/1/10 8:26

### Converter para nparray para formatar data e preencher colunas vazias

In [54]:
np_orders = pd_orders.to_numpy()

for order in np_orders:
    
    # se o cód. cliente é vazio, trocar por 1
    if (type(order[0]) is not int and type(order[0]) is not float) or math.isnan(order[0]):
        order[0] = 1
    else:
        order[0] = int(order[0])
    
    # se o cód. produto é vazio, trocar por 1
    # remover caracteres não numéricos
    if not order[1] or type(order[1]) is not str:
        order[1] = 1
    else:
        order[1] = re.sub(r'\D', '', order[1])
        
    # extrair mês da data e manter apenas o mês
    if type(order[1]) is not str:
        order[3] = 1
    else:
        parts = order[3].split("/")
        if parts:
            order[3] = parts[0]

### Converter de volta para pandas dataframe para salvar resultado como CSV

In [59]:
save_path = 'E:/temp_ml_data/out.csv'
pd_orders = pd.DataFrame(np_orders, columns=['clientId', 'modeProd', 'avgQty', 'month'])
pd_orders = pd_orders.astype('int32')
pd_orders.to_csv(save_path, index=False, encoding='utf-8')
print("Salvo")

Salvo